
#shakemeter {
  width: 600px;
  height: 300px;
}

#shakemeter svg {
  width: 600px;
  height: 300px;
  display: block;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row h1 {
  font-size: xx-large;
}
